<!DOCTYPE html>
<html>
<head>
  <title>The Official Yellowhouse Library Search Engine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>&#8962;<br>The Official Yellowhouse Library of <%= ENV['LIBRARIAN'] %> Search Engine</h2>
<%= yield %>

</body>
</html>
